*.cm[ioaxt]
*.o
*.opt
absolute
*depend
*Makefile.config
*~
*#
src/frontend/parser.ml
src/frontend/parser.mli
src/frontend/lexer.ml
src/frontend/modParser.ml
src/frontend/modParser.mli
src/frontend/modLexer.ml
src/domains/vpl_domain.ml
src/print/vpl_drawer.ml
*.obj
out/*
.DS_Store
